section.collections-grid__wrapper
  section.collections-grid
    .collections-grid__inner 
      .collections-grid__header
        h2.collections-grid__title
          | Exotic Collection
        .collections-grid__display-count
          p
            | Displaying 
            span.collections-grid__display-num 3 
            | of  
            span.collections-grid__total-num 36 
            | quartz surfaces
      .collections-grid__body
        .collections-grid__column
          +image-block('../img/collections-exotic-1.jpg')   
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-1') 
              label(for="like-check-1")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-2.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-2') 
              label(for="like-check-2")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-3.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-3') 
              label(for="like-check-3")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-1.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-4') 
              label(for="like-check-4")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-2.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-5') 
              label(for="like-check-5")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-3.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-6') 
              label(for="like-check-6")
                span.ic-heart-outline         
      .collections-grid__footer
        .collections-grid__discover
          a.collections-grid__more(href="#")
            | Discover more

  section.collections-grid
    .collections-grid__inner 
      .collections-grid__header
        h2.collections-grid__title
          | Natural Collection
        .collections-grid__display-count
          p
            | Displaying 
            span.collections-grid__display-num 3 
            | of  
            span.collections-grid__total-num 36 
            | quartz surfaces
      .collections-grid__body
        .collections-grid__column
          +image-block('../img/collections-exotic-1.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-7') 
              label(for="like-check-7")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-2.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-8') 
              label(for="like-check-8")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-3.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-9') 
              label(for="like-check-9")
                span.ic-heart-outline      
        .collections-grid__column
          +image-block('../img/collections-exotic-1.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-10') 
              label(for="like-check-10")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-2.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-11') 
              label(for="like-check-11")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-3.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-12') 
              label(for="like-check-12")
                span.ic-heart-outline         
        .collections-grid__column
          +image-block('../img/collections-exotic-1.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-13') 
              label(for="like-check-13")
                span.ic-heart-outline     
      .collections-grid__footer
        .collections-grid__discover
          a.collections-grid__more(href="#")
            | Discover more
            
  section.collections-grid
    .collections-grid__inner 
      .collections-grid__header
        h2.collections-grid__title
          | Classic Collection
        .collections-grid__display-count
          p
            | Displaying 
            span.collections-grid__display-num 3 
            | of  
            span.collections-grid__total-num 36 
            | quartz surfaces
      .collections-grid__body
        .collections-grid__column
          +image-block('../img/collections-exotic-1.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-14') 
              label(for="like-check-14")
                span.ic-heart-outline     
        .collections-grid__column
          +image-block('../img/collections-exotic-2.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-15') 
              label(for="like-check-15")
                span.ic-heart-outline     
        .collections-grid__column
          +image-block('../img/collections-exotic-3.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-16') 
              label(for="like-check-16")
                span.ic-heart-outline     
        .collections-grid__column
          +image-block('../img/collections-exotic-1.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-17') 
              label(for="like-check-17")
                span.ic-heart-outline     
        .collections-grid__column
          +image-block('../img/collections-exotic-2.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-18') 
              label(for="like-check-18")
                span.ic-heart-outline     
        .collections-grid__column
          +image-block('../img/collections-exotic-3.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-19') 
              label(for="like-check-19")
                span.ic-heart-outline     
        .collections-grid__column
          +image-block('../img/collections-exotic-1.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          ) 
            .collections-grid__like
              +checkbox('like-check', 'like-check-20') 
              label(for="like-check-20")
                span.ic-heart-outline     
        .collections-grid__column
          +image-block('../img/collections-exotic-2.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-21') 
              label(for="like-check-21")
                span.ic-heart-outline     
        .collections-grid__column
          +image-block('../img/collections-exotic-3.jpg')
            a(href="#").collections-grid__cta
              h3.collections-grid__cta-heading
                | ORDER SAMPLE
              span.ic-add_circle
          +info-content(
            "SURFACE NAME WITH ID",
            "",
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
            "Design now",
            "#",
            "",
            "",
            "",
            null,
            null
          )
            .collections-grid__like
              +checkbox('like-check', 'like-check-22') 
              label(for="like-check-22")
                span.ic-heart-outline     
      .collections-grid__footer
        .collections-grid__discover
          a.collections-grid__more(href="#")
            | Discover more
