section.collections
  .collections__inner
    .collections__exotic
      .collections__image
        +image-block("../img/collections_exotic.jpg")
        .collections__plus-link
          img(src="../img/plus-icon.svg")
      .collections__content
        +info-content(
          "Exotic Collection",
          "",
          "Our Exotic Collection warmly recalls the natural world with soft veining and rich undertones that are irresistibly classic. Glossy, wispy, sophisticated, the unique patterns and colors in this granite and marble-inspired  line are ideal for any workspace or kitchen.",
          "GALLERY",
          "#",
          "GO TO COLLECTION",
          "#",
          "ic-arrow-long-right"
        )
    .collections__classic
      .collections__images 
        +image-block("../img/classic-surface-1.jpg")
        +image-block("../img/classic-surface-2.jpg")
        +image-block("../img/classic-surface-3.jpg")
        +image-block("../img/classic-surface-4.jpg")
        +image-block("../img/classic-surface-5.jpg")
      .collections__content
        +info-content(
          "Classic Collection",
          "",
          "",
          "",
          "",
          "GO TO COLLECTION",
          "#",
          "ic-arrow-long-right"
        )
        .collections__body
          p
            | Our Classic Collection warmly recalls the natural world with soft veining and rich undertones that are irresistibly classic. Glossy, wispy, sophisticated, the unique patterns and colors in this granite and marble-inspired  line are ideal for any workspace or kitchen.
    .collections__natural
      .collections__image
        +image-block("../img/collections-natural.jpg")
      .collections__content
        +info-content(
          "Natural Collection",
          "",
          "Our Exotic Collection warmly recalls the natural world with soft veining and rich undertones that are irresistibly classic. Glossy, wispy, sophisticated, the unique patterns and colors in this granite and marble-inspired  line are ideal for any workspace or kitchen.",
          "",
          "",
          "GO TO COLLECTION",
          "#",
          "ic-arrow-long-right"
        )  
