footer.footer
  .footer__inner
    .footer__left 
      h3.footer__links-heading
        | USEFUL LINKS
      .footer__links-container
        ul.footer__links
          li
            a.footer__link-category(href="#")
              | Quartz Surfaces
            ul.footer__link-category-list
              li
                a.footer__category-link(href="#")
                  | By Collections
              li
                a.footer__category-link(href="#")
                  | Product Care
              li
                a.footer__category-link(href="#")
                  | In-room Visualizer
              li
                a.footer__category-link(href="#")
                  | Order Samples
          li
            a.footer__link-category(href="#")
              | Galleries
          li
            a.footer__link-category(href="#")
              | Where to Buy
          li
            a.footer__link-category(href="#")
              | Support
            ul.footer__link-category-list
              li
                a.footer__category-link(href="#")
                  | Contact Us
              li
                a.footer__category-link(href="#")
                  | FAQ’s
              li
                a.footer__category-link(href="#")
                  | Warranty
          li
            a.footer__link-category(href="#")
              | About Vicostone
            ul.footer__link-category-list
              li
                a.footer__category-link(href="#")
                  | Our Technology
              li
                a.footer__category-link(href="#")
                  | Our Commitement
              li
                a.footer__category-link(href="#")
                  | Careers
    .footer__right
      .footer__follow
        p.footer__follow-headline 
          | Register for the latest news on Vicostone
        form.footer__form-suscribe
          +input('email', 'Your email here', 'email')
          button.footer__email-submit(type="submit")
            | Subscribe
        .footer__links-social-links
          a(href="https://www.facebook.com" target="_blank" rel="noopener noreferrer")
            span.ic-facebook
              
          a(href="https://www.twitter.com" target="_blank" rel="noopener noreferrer")
            span.ic-twitter
             
          a(href="https://www.instagram.com" target="_blank" rel="noopener noreferrer")
            span.ic-instagram
    .footer__divider      
    .footer__information
      .footer__information-links 
        ul.footer__information-link-list
          li.footer__information-link
            a(href="#")
              | Terms of Use
          li.footer__information-link
            a(href="#")
              | Sitemap
          li.footer__information-link
            a(href="#")
              | Privacy Policy
        ul.footer__information-link-list
          li.footer__information-link
            a(href="#")
              | Press Room
          li.footer__information-link
            a(href="#")
              | Investor Relations
      .footer__copyright
        p
          | © 2018 VICOSTONE   
