header.header
  .header__inner
    .header__left
      .header__logo-mobile
        a(href="http://localhost:3000/home.html")
          img(src="./img/vicostone-mobile-logo.svg").header__logo-mobile-image
      .header__location
        span.ic-location
      .header__language-dropdown
        button.header__language-button
          span
            | EN
          span.ic-arrow_drop_down
    .header__center
      .header__logo
        a(href="http://localhost:3000/home.html")
          img(src="./img/vicostone-logo.svg").header__logo-image
      .header__nav 
        ul
          li.header__nav-item.is-active
            a.header__nav-item-link(href="http://localhost:3000/quartz-surfaces.html")
              | Quartz Surfaces
          li.header__nav-item
            a.header__nav-item-link(href="#")
              | Inspirational Galleries
          li.header__nav-item
            a.header__nav-item-link(href="#")
              | Where to Buy
          li.header__nav-item
            a.header__nav-item-link(href="#")
              | Support
          li.header__nav-item
            a.header__nav-item-link(href="#")
              | Professionals
          li.header__nav-item
            a.header__nav-item-link(href="#")
              | More...
      .header__mobile-nav-button
        
    .header__right
      .header__mobile-nav-button
        .header__mobile-nav-button-inner
          span
          span
          span
      .header__login
        a(href="#")
          | Login
      .header__checkout
        button.header__checkout-button
          span.ic-cart
          span
            | 12
