section.hero
  .hero__inner
    .hero__image-container(data-jarallax data-speed="0.3")
    .hero__cta
      +info-content(
        "Brand Campaign",
        "",
        "Inspired by the world around us our 2018 Collection warmly recalls  the natural world with soft veining and rich undertones that are irresistibly modern.",
        "",
        "",
        "EXPLORE THE LATEST TRENDS",
        "#",
        "ic-arrow-long-right"
      )
