section.intro
  .intro__inner
    +info-content(
      "A non-stop pursuit of perfection",
      "",
      "Timeless design combined with unparalleled quality and ingenuity enables us to create unique and beautiful, Quartz stone surfaces that reflects your personality down to every last detail.",
      "Discover Vicostone"
    )
