section.locate
  .locate__inner
    .locate__boxes
      .locate__box
        +info-content(
          "SHOWROOM",
          "LOCATE YOUR NEAREST",
          "Vicostone is the world’s leading manufacture of quality QUARTZ stone products for residential and commercial applications.",
          "WHERE TO BUY",
          "#"
        )
      .locate__box-login
        +info-content(
          "PROFESSIONALS",
          "FOR TRADE",
          "Find technical resources, supplemental presentation materials, and versatile natural stone surfaces to support any project.",
          "",
          "",
          "LOGIN NOW",
          "#",
          "ic-arrow-long-right"
        )
