section.manifesto
  .manifesto__inner
    +info-content(
      "Brand Manifesto",
      "",
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum malesuada dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus malesuada est ut velit posuere scelerisque. Sed nec ornare magna, vitae pharetra lorem. Mauris.",
      "",
      "",
      "",
      "",
      "",
      "vicostone-logo",
      "../img/vicostone-logo.svg"
    )
