nav.mobile-nav
  .mobile-nav__inner
    .mobile-nav__header
      .mobile-nav__close
    .mobile-nav__body
      .mobile-nav__dropdown
        ul.mobile-nav__drop
          li.mobile-nav__nav-item-title
            a(href="#") Quartz Surfaces
            span
            ul.mobile-nav__drop-sub.slide-up
              li
                a(href="#") Our Collections
              li
                a(href="#") Product Care
              li
                a(href="#") In-room Visualizer
              li
                a(href="#") Order Samples
          li.mobile-nav__nav-item-title
            a(href="#") Inspiration Galleries
          li.mobile-nav__nav-item-title
            a(href="#") Where to Buy
          li.mobile-nav__nav-item-title
            a(href="#") Support & Care
            span
            ul.mobile-nav__drop-sub.slide-up
              li
                a(href="#") Our Collections
              li
                a(href="#") Product Care
              li
                a(href="#") In-room Visualizer
          li.mobile-nav__nav-item-title
            a(href="#") Trade Professionals  
          li.mobile-nav__nav-item-title
            a(href="#") About Vicostone
            span 
            ul.mobile-nav__drop-sub.slide-up
              li
                a(href="#") Our Collections
              li
                a(href="#") Product Care
      .mobile-nav__tab
        ul.mobile-nav__tab-items
          li
            a(href="#")
              span.ic-person
          li
            a(href="#")
              span.ic-sphere
          li
            a(href="#")
              span.ic-heart-circle          
    .mobile-nav__footer 
      .mobile-nav__contact
        p
          | P: 1800 6766 or 024 33 685 826
        p
          | E: info@vicostone.com   
      .mobile-nav__social
        ul.mobile-nav__social-list 
          li
            span.ic-facebook
          li
            span.ic-instagram
          li
            span.ic-pinterest-p
          li
            span.ic-twitter
