section.overview
  .overview__inner
    .overview__intro
      +info-content(
        "Over 300 Quartz design options at your fingertips",
        "",
        "As the world’s leading manufacturer and distributor of engineeered stone products, Viscostone provides over 300 high quality products to the most disconcerning of clientel.",
        "Learn more about Vicostone"
      )
    .overview__more-info
      .overview__info-column
        +image-block('../img/overview-1.jpg')
        +info-content(
          "IN-ROOM SURFACE VISUALIZER",
          "",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
          "Design now",
          "#",
          "",
          "",
          "",
          null,
          null
        )
      .overview__info-column
        +image-block('../img/overview-2.jpg')
        +info-content(
          "LATEST NEWS",
          "",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
          "Discover",
          "#",
          "",
          "",
          "",
          null,
          null
        )
      .overview__info-column
        +image-block('../img/overview-3.jpg')
        +info-content(
          "WHERE TO BUY",
          "",
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta metus nisi,",
          "Find Your Distributor",
          "#",
          "Contact Us",
          "#",
          "",
          null,
          null
        )
