section.surfaces
  .surfaces__inner
    .surfaces__section
      +info-content-overlay(
        "../img/surfaces-kitchen.jpg",
        "Kitchen",
        "Timeless design combined with stain resistant non-porus quartz surfaces hat reflects your personality down to every last detail.",
        "ic-add_circle",
        "#",
        null
      )
    .surfaces__section
      +info-content-overlay(
        "../img/surfaces-bathroom.jpg",
        "Bathroom",
        "Naturally antibacterial Vicostone Quartz is a perfect solution for bathrooms in todays modern environments.",
        "ic-add_circle",
        "#",
        null
      )
    .surfaces__section
      +info-content-overlay(
        "../img/surfaces-commercial.jpg",
        "Commercial",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum malesuada dui. Pellentesque habitant morbi",
        "ic-add_circle",
        "#",
        null
      )
