section.tab-select
  .tab-select__inner
    .tab-select__header
      .tab-select__header-nav 
        ul.tab-select__header-nav-list
          li.tab-select__header-nav-list-item.is-active
            a(href="#")
              | Vicostone Quartz
            span.is-active
          li.tab-select__header-nav-list-item
            a(href="#")
              | Product Care
            span
          li.tab-select__header-nav-list-item
            a(href="#")
              | In-room Visualiser
            span
          li.tab-select__header-nav-list-item
            a(href="#")
              | Order Samples
            span
    .tab-select__body
      .tab-select__tab
        .tab-select__tab-inner
           h2.tab-select__headline
             | Order Sample surfaces
           p.tab-select__text
             |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           .tab-select__sub-menu 
             ul.tab-select__sub-menu-list 
               li.tab-select__sub-menu-list-item
                 a(href="#")
                   | NEW DESIGNS
               li.tab-select__sub-menu-list-item
                 a(href="#")
                   | BEST SELLERS
               li.tab-select__sub-menu-list-item
                 a(href="#")
                   | COLOR RANGE
               li.tab-select__sub-menu-list-item
                 a(href="#")
                   | SURFACE TYPES
      .tab-select__tab
       .tab-select__tab-inner
          h2.tab-select__headline
            | In-room Visualiser
          p.tab-select__text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .tab-select__tab
       .tab-select__tab-inner
          h2.tab-select__headline
            | Product Care
          p.tab-select__text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .tab-select__tab
       .tab-select__tab-inner
         h2.tab-select__headline
           | Vicostone Quartz surfaces
         p.tab-select__text
           | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         .tab-select__sub-menu 
           ul.tab-select__sub-menu-list 
            li.tab-select__sub-menu-list-item
              a(href="#")
                | NEW DESIGNS
            li.tab-select__sub-menu-list-item
              a(href="#")
                | BEST SELLERS
            li.tab-select__sub-menu-list-item
              a(href="#")
                | COLOR RANGE
            li.tab-select__sub-menu-list-item
              a(href="#")
                | SURFACE TYPES
    .tab-select__footer
      .tab-select__footer-inner
        form
          label(for="quartz-search") quartz search
          input(type="search" placeholder="SEARCH ALL QUARTZ SURFACES" name="quartz-search" id="quartz-search")
          i.ic-search
