extends layout/_layout
block content
  include ./components/_header.pug
  include ./components/_mobile-nav.pug
  main
    include ./components/_hero.pug
    include ./components/_intro.pug
    include ./components/_collections.pug
    include ./components/_surfaces.pug
    include ./components/_overview.pug
    include ./components/_locate.pug
    include ./components/_manifesto.pug
  include ./components/_footer.pug
